<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="stats" item-left></ion-icon>&nbsp;&nbsp;&nbsp;Statistics</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="stats1.length == 0">
        Play at least one game for statistics to generate
    </div>
  
  <ion-card *ngIf="stats1.length > 0">
      <ion-card-header>
        Yatzi success ratio
      </ion-card-header>
      <ion-card-content>
        <canvas #YatziCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card *ngIf="stats1.length > 0">
      <ion-card-header>
        Upper section sucess ratio
      </ion-card-header>
      <ion-card-content>
        <canvas #UpstairsCanvas></canvas>
      </ion-card-content>
    </ion-card>
  
</ion-content>
