<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title><ion-icon name="settings" item-left></ion-icon>&nbsp;&nbsp;&nbsp;Settings</ion-title>		
  </ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-card> 
		<ion-item>
		  <ion-label>Hide total result until game's end</ion-label>
		  <ion-toggle [(ngModel)]="settingsClass.settings.hideTotal" (ionChange)='updateHideTotal()'></ion-toggle>
		</ion-item>
	</ion-card>
	<ion-card> 
		<ion-list radio-group>
		  <ion-list-header>
			Type of game
		  </ion-list-header>
		 
		 <ion-item>
			<ion-label>Traditional European/Nordic rules</ion-label>
			<ion-radio checked='{{settingsClass.settings.yatziGameType == 0 || settingsClass.settings.yatziGameType == undefined}}' value="0" (click)='updateGame(0)'></ion-radio>
		  </ion-item>

		  <ion-item>
			<ion-label>Alternative Nordic rules</ion-label>
			<ion-radio checked='{{settingsClass.settings.yatziGameType == 1}}' value="1" (click)='updateGame(1)'></ion-radio>
		  </ion-item>
		  
		</ion-list>
	</ion-card>
	
	<ion-card *ngIf="settingsClass.settings.yatziGameType == 0"> 
		<ion-item text-wrap >
			<b>
			Special features for Traditional European/Nordic yatzy
			</b>
			<br/>
					1. Upstairs section allows for results between 0 and 5 for each row, multiplied by the row value: 1-1-1 would result in 3 for 1st row.
					<br/>
					2. Upstairs final result adds 50 points, if the sum of all rows equals or exceeds 63 points.
					<br/>
					3. Straights can be marked by X, as their value is always fixed.
					<br/>
					4. Yatzy gives a fixed amount of 50 points.
					<br/>
					5. Rows that are being skipped are marked with '-' (or 0).
		</ion-item>
	</ion-card>

	<ion-card *ngIf="settingsClass.settings.yatziGameType == 1"> 
		<ion-item text-wrap >
			<b>
			Special features for Alternative Nordic yatzy
			</b>
			<br/>				
					1. Upstairs section allows for results between -5 to +5 for each row, multiplied by the row value: 1-1-1 would result in 0 or X for 1st row. 2-2 would result in -2. 6-6-6-6 would result in 6 (or +6).
					<br/>
					2. Upstairs final result gives 50 points, if the sum of all rows equals or exceeds 0 points. Any extra points are added to the result. For example 0 for ones, +2 for for twos, -6 for threes, 0 for fours, +5 for fives and +6 for sixes, result in +7 as final result, which would become 57 in the upstairs total. If sum is below 0, the upstairs result is 0.
					<br/>
					3. Straights can be marked by X, as their value is always fixed.
					<br/>
					4. Yatzy gives a 55 points for yatzy of ones, 60 for yatzy of twos. Add 5 points for each number. Yatzy of sixes is 80 points.
					<br/>
					5. Rows that are being skipped are marked with '-' (or 0).
		</ion-item>
	</ion-card>

</ion-content>