page-game {
	.col{
		border: thin solid lightgray;
		top: 50%;
	}

	.col img {
		position:absolute;
		left: 0;
		right: 0;
		margin:0 auto;
		top:50%;
		transform:translateY(-50%);
	}

	.blurry-text {
   		color: transparent;
   		text-shadow: 0 0 20px rgba(0,0,0,0.9);
	}
}